<section class="sectionLog" style="margin: 50px 0px 0px 0px">
  <div align="center">
    <img class="LoginImg" src="../../assets/img/code.png" alt="Logo">
    <p class="titulo">Iniciar Sesión</p>
    <p class="titulo2" style="font-size: 30px">Usuario</p>
    <input #user class="inputLogin" #user type="text">
    <p class="titulo2" style="font-size: 30px">Contraseña</p>
    <input #pass class="inputLogin" type="password">
    <div *ngIf="entrar===false" class="alert alert-warning alert-dismissible fade show" style="position: relative" role="alert">
      <strong>Vuelve a intentarlo!</strong> Usuario y contraseña no coinciden!
    </div>
  </div>
  <div align="center">
    <button class="btn btnEntrar" (click)="btnEntrar(user.value, pass.value)">Entrar</button>
  </div>
</section>