<nav class="navbar navbar-expand-lg fixed-top navbar-dark" role="navigation">
  <a>
    <p class="navbar-brand tNav">HOWTOP</p>
  </a>
  <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link2" [routerLink]="['inicio']"  routerLinkActive="rtActive">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="usuario!==null && usuario.user==='admin'" class="nav-item">
        <a class="nav-link2" [routerLink]="['nuevapublicacion']" routerLinkActive="rtActive">Nueva Publicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link2" [routerLink]="['acerca']" routerLinkActive="rtActive">Acerca de...</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #palabra class="form-control mr-sm-2" (keyup)="buscador(palabra.value)" type="search" placeholder="Buscar" aria-label="Search">
    </form>
    <a *ngIf="usuario!==null" class="nav-link" style="color: white">{{usuario.user}}</a>
    <div class="nav-item">
      <a *ngIf="usuario===null" class="nav-link nav-link2" [routerLink]="['sesion']" style="color: white" routerLinkActive="rtActive">Iniciar Sesión</a>
      <a *ngIf="usuario!==null" class="nav-link2" (click)="cerrarSesion()" style="color: white">Cerrar Sesión</a>
    </div>
  </div>
</nav>