<div class="card mb-3" style="margin: 50px 0px 0px 0px">
  <div class="sectionI" align="center">
    <img class="card-img-top backg" src="../../assets/img/{{publi.img}}" alt="Imagen principal publicacion">
  </div>
  <div class="card-body">
    <h4 class="card-title titulo">{{publi.titulo}}</h4>
    <p class="card-text">{{publi.cont}}</p>
    <p class="card-text"><small class="text-muted">{{publi.fecha}}</small></p>
  </div>
</div>