<div class="jumbotron jumbotron-fluid sectionI" style="margin: 50px 0px 0px 0px">
  <div class="container">
    <h1 class="display-3">Acerca de...</h1>
    <p class="lead">Blog acerca de programacion. Conoce acerca de lenguajes, web, bases de datos, sistemas operativos, redes y todo el ambito de la informatica</p>
  </div>
</div>
