<section style="margin: 80px 30px 30px 30px">
  <p class="titulo">Nueva Publicación</p>
  <div class="form-group">
    <label class="titulo3" for="exampleInputEmail1">Título de la publicación</label>
    <input #titulo type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Título">
    <small id="emailHelp" class="form-text text-muted">El título de la publicación se muestra todo en mayúsculas</small>
  </div>
  <div class="form-group">
    <label class="titulo3" for="exampleFormControlTextarea1">Contenido de la publicación</label>
    <textarea #cont class="form-control" id="exampleFormControlTextarea1" rows="11" placeholder="Contenido"></textarea>
  </div>
  <div class="form-group">
    <label class="titulo3" for="exampleInputEmail1">Imagen de la publicación</label>
    <input #img type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Título">
  </div>
  <div align="center"><button class="btn btnPublicar" (click)="publicar(titulo.value,cont.value,img.value)">Publicar</button></div>
</section>
