nav{
    background-color: rgb(0, 65, 90);
    height: 50px;
}

.tNav{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 35px;
    margin: 3px 40px 0px 0px;
}

.sectionI{
    background-color: rgb(214, 214, 214);
}

.backg{
    width: 75%;
}

.sectionLog{
    background-color: rgb(214, 214, 214);
}

.LoginImg{
    width: 200px;
}

.titulo{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.664);
    text-align: center;
    padding: 10px;
    width: 100%;
}

.titulo2{
    font-family: 'Julius Sans One', sans-serif;
}

.titulo3{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.inputLogin{
    width: 50%;
    height: 40px;
    margin: 0px 0px 30px 0px;
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
}

.btnEntrar{
    background-color: rgba(0, 0, 0, 0.664);
	color: white;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid;
    border-color: rgb(1, 175, 255);
    font-size: 20px;
    padding: 10px 100px 10px 100px;
}

.btnEntrar:hover{
    background-color: rgb(1, 175, 255);
    color: white;
}

.btnPublicar{
    background-color: rgba(0, 0, 0, 0);
	color: rgb(1, 175, 255);
    border-radius: 10px 10px 10px 10px;
    border: 3px solid;
    border-color: rgb(1, 175, 255);
    font-size: 20px;
    padding: 10px 100px 10px 100px;
}

.btnPublicar:hover{
    background-color: rgb(1, 175, 255);
    color: white;
}

.btnVer{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    border: 3px solid;
	color: rgb(1, 175, 255);
    border-color: rgb(1, 175, 255);
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    transition: 0.2s;
}

.btnVer:hover{
    background-color: rgb(1, 175, 255);
    color: white;
}

.btnEditar{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    border: 3px solid;
	color: rgb(0, 211, 25);
    border-color: rgb(0, 211, 25);
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    margin: 5px;
    transition: 0.2s;
    float: right;
}

.btnEditar:hover{
    background-color: rgb(0, 211, 25);
    color: white;
}

.btnEliminar{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    border: 3px solid;
	color: rgb(194, 0, 0);
    border-color: rgb(194, 0, 0);
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    margin: 5px;
    transition: 0.2s;
    float: right;
}

.btnEliminar:hover{
    background-color: rgb(194, 0, 0);
    color: white;
}

.publi{
    margin: 25px;
}

.nav-link2 {
    color: rgb(223, 223, 223);
    padding: 13px;
    cursor: pointer;
    display: block
}

.nav-link2:hover{
    text-decoration: none;
    color: white;
    padding: 13px;
    background-color: black;
}

.rtActive{
    color: white;
    padding: 13px;
    background-color: black;
}

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}
