<section class="sectionI" style="margin: 50px 0px 0px 0px">
  <div align="center">
    <img style="width: 40%" src="../../../assets/img/back1.png" alt="Back IMG">
  </div>
</section>
<div class="card publi" *ngFor="let publi of publicaciones">
  <div class="card-header">
    {{publi.fecha}}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{publi.titulo}}</h4>
    <p class="card-text">{{publi.cont}}</p>
    <button class="btnVer" (click)="verPublicacion(publi.id)">Ver publicación</button>
    <button *ngIf="usuario!==null && usuario.user==='admin'" class="btnEliminar" (click)="mostrarEliminar(publi.id)">Eliminar</button>
    <button *ngIf="usuario!==null && usuario.user==='admin'" class="btnEditar">Editar</button>
  </div>
  <div *ngIf="eliminar===true && id===publi.id" class="alert alert-warning alert-dismissible fade show" style="position: relative" role="alert">
    <strong>Estas seguro de eliminar esta publicación?</strong> Presiona Sí para eliminarla!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarP(publi.id)">
      <P>Sí</P>
    </button>
  </div>
</div>
